<div class="container-fluid">
  <h3>Categories Tree Managment</h3>
  <div class="row">
    <div class="col-8">
      <div class="card">
        <h4>Tree</h4>
        <ng-container [ngSwitch]="isTreeEmpty()">
          <ng-container *ngSwitchCase="true">
            <ng-container *ngTemplateOutlet="emptyTree"></ng-container>
          </ng-container>
          <ng-container *ngSwitchCase="false">
            <ng-container *ngTemplateOutlet="matTree"></ng-container>
          </ng-container>
          <ng-container *ngSwitchDefault>
            <mat-spinner></mat-spinner>
          </ng-container>
        </ng-container>
      </div>
    </div>
    <div class="col-4">
      <div class="card h-50">
        <h4>Available Categories</h4>
        <ul>
          <li>Created by: {{ treeInfo?.createdBy }}</li>
          <li>Created date: {{ treeInfo?.createdDateTime | date: 'short' }}</li>
          <li>Updated by: {{ treeInfo?.updatedBy }}</li>
          <li>Updated date: {{ treeInfo?.updatedDateTime | date: 'short' }}</li>
        </ul>
      </div>
      <div class="card h-50">
        <h4>Hints & Rules</h4>
        <ul>
          <li>Tree can consisnt of multiple <strong>Nodes</strong></li>
          <li>Tree node can be flat or nested</li>
          <li>Flat node has only one property - <strong>Title</strong></li>
          <li>Nested node may have two properties - <strong>Title</strong> and <strong>Children</strong></li>
          <li>Children nodes can be flat or nested</li>
          <li>Node title may not exceed <strong>30</strong> symbols</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<ng-template #emptyTree>
  <small class="text-info font-weight-bold">
    <p>
      There are no categories assign to the user.
    </p>
    <p>
      Please enter first node name.
    </p>
  </small>
  <mat-form-field>
    <input matInput type="text" #initNodeTitle placeholder="Title..." [(ngModel)]="initNodeTitle.value" maxlength="30" />
    <button matSuffix mat-icon-button aria-label="Clear" [disabled]="initNodeTitle.value === ''" (click)="initNodeTitle.value = ''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <button mat-stroked-button class="btn btn-primary text-white" (click)="createCategory(initNodeTitle.value)">
    Save
  </button>
</ng-template>

<ng-template #matTree>
  <button mat-icon-button (click)="addNewMainNode()">
    <mat-icon>
      add
    </mat-icon>
  </button>
  <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
    <!-- 
      * Single node with title and with/without children
     -->

    <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
      <!-- Collapse button -->
      <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.title" [disabled]="!hasChild(null, node)">
        <mat-icon class="mat-icon-rtl-mirror">
          {{ treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right' }}
        </mat-icon>
      </button>
      <!-- Node Title and Action buttons -->
      <ng-container *ngTemplateOutlet="nodeTemp; context: { node: node }"></ng-container>
    </mat-tree-node>

    <!-- 
      * New node without title and without children
     -->
    <mat-tree-node *matTreeNodeDef="let node; when: hasNoContent" matTreeNodePadding>
      <button mat-icon-button disabled></button>
      <mat-form-field>
        <input matInput type="text" #newNodeTitle placeholder="Title..." [(ngModel)]="newNodeTitle.value" />
        <button
          mat-button
          [disabled]="newNodeTitle.value === ''"
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="newNodeTitle.value = ''"
        >
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <button
        mat-stroked-button
        class="node-icon-button mx-0-1"
        [hidden]="treeHasOneMainNode() && getLevel(node) === 0"
        (click)="removeNode(node)"
      >
        <mat-icon>remove</mat-icon>
      </button>
      <button mat-stroked-button class="mx-0-1" (click)="saveNode(node, newNodeTitle.value)">
        Save
      </button>
    </mat-tree-node>
  </mat-tree>

  <!-- Update Entire Tree at a Time -->
  <div class="align-items-end align-self-end d-flex save-tree">
    <button mat-stroked-button class="btn btn-primary text-white" (click)="updateTree()">Save</button>
  </div>
</ng-template>

<ng-template #nodeTemp let-node="node">
  <!-- Switch between templates of "edit" and "display" mode-->
  <ng-container [ngSwitch]="node.editable">
    <!-- If Node name "edit" mode toggled "ON" -->
    <ng-container *ngSwitchCase="true">
      <ng-container *ngTemplateOutlet="editNodeTemp; context: { node: node }"></ng-container>
    </ng-container>

    <!-- If Node name "edit" mode toggled "OFF" -->
    <ng-container *ngSwitchCase="false">
      <div class="pr-3">{{ node.title }}</div>
      <button mat-stroked-button class="node-icon-button mx-0-1" [color]="'primary'" (click)="addNewNode(node)">
        <mat-icon>add</mat-icon>
      </button>
      <button
        mat-stroked-button
        class="node-icon-button mx-0-1"
        [color]="'primary'"
        (click)="removeNode(node)"
        [disabled]="treeHasOneMainNode() && node.level === 0"
      >
        <mat-icon>remove</mat-icon>
      </button>
    </ng-container>
  </ng-container>

  <!-- Switch between Title and Edit Title -->
  <button mat-stroked-button class="node-icon-button mx-0-1" (click)="node.editable = !node.editable">
    <mat-icon class="icon-large align-bottom" [color]="'primary'">edit</mat-icon>
  </button>
</ng-template>

<!-- Edit Title template -->
<ng-template #editNodeTemp let-node="node">
  <mat-form-field>
    <input #newTitle matInput type="text" placeholder="Title..." [(ngModel)]="newTitle.value" />
    <button matSuffix mat-icon-button aria-label="Clear" [disabled]="newTitle.value === ''" (click)="newTitle.value = ''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <button mat-stroked-button class="flex-last mx-1" (click)="saveNode(node, newTitle.value)">Save</button>
</ng-template>
