<div class="container-fluid">
  <h3>Categories Tree Managment</h3>
  <div class="row">
    <div class="col-8">
      <div class="card">
        <h4>Tree:</h4>
        <ng-container *ngIf="!hasData(); else matTree">
          <small class="text-danger">
            <p>
              There are no categories assign to the user.
            </p>
            <p>
              Please enter first node name.
            </p>
          </small>
          <mat-checkbox #initNodeChildren class="mr-2" [checked]="false">Enable Children ?</mat-checkbox>
          <mat-form-field>
            <input matInput type="text" #initNodeTitle placeholder="Title..." [(ngModel)]="initNodeTitle.value" />
            <button
              mat-button
              [disabled]="initNodeTitle.value === ''"
              matSuffix
              mat-icon-button
              aria-label="Clear"
              (click)="initNodeTitle.value = ''"
            >
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
          <button
            mat-stroked-button
            class="btn btn-primary text-white"
            (click)="createCategory(initNodeTitle.value, initNodeChildren.checked)"
          >
            Save
          </button>
        </ng-container>
      </div>
    </div>
    <div class="col-4">
      <div class="card h-50">
        <h4>Available Categories:</h4>
        <ul>
          <li>Created by: {{ categories[0]?.createdBy }}</li>
          <li>Created date: {{ categories[0]?.createdDateTime | date: 'short' }}</li>
          <li>Updated by: {{ categories[0]?.updatedBy }}</li>
          <li>Updated date: {{ categories[0]?.updatedDateTime | date: 'short' }}</li>
        </ul>
      </div>
      <div class="card h-50">
        <h4>Hints & Rules:</h4>
        <ul>
          <li>Tree can consisnt of multiple <strong>Nodes</strong></li>
          <li>Tree node can be flat or nested</li>
          <li>Flat node has only one property - <strong>Title</strong></li>
          <li>Nested node may have two properties - <strong>Title</strong> and <strong>Children</strong></li>
          <li>Children have same structure as parent nodes</li>
          <li>Node title may not exceed <strong>30</strong> symbols</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<ng-template #matTree>
  <button mat-icon-button (click)="addNewMainNode()">
    <mat-icon>
      add
    </mat-icon>
  </button>
  <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
    <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding>
      <!-- Collapse button -->
      <button mat-icon-button disabled></button>
      <!-- Node Title and Action buttons -->
      <ng-container *ngTemplateOutlet="nodeTemp; context: { node: node }"></ng-container>
    </mat-tree-node>

    <mat-tree-node *matTreeNodeDef="let node; when: hasNoContent" matTreeNodePadding>
      <button mat-icon-button disabled></button>
      <mat-checkbox #addChildren class="mr-2" [checked]="false">Enable Children ?</mat-checkbox>
      <mat-form-field>
        <input matInput type="text" #newNodeTitle placeholder="Title..." [(ngModel)]="newNodeTitle.value" />
        <button
          mat-button
          [disabled]="newNodeTitle.value === ''"
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="newNodeTitle.value = ''"
        >
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <button mat-icon-button (click)="removeNode(node)" [hidden]="treeHasOneMainNode() && getLevel(node) === 0">
        <mat-icon>remove</mat-icon>
      </button>
      <button mat-stroked-button (click)="saveNode(node, newNodeTitle.value, addChildren.checked)">
        Save
      </button>
    </mat-tree-node>

    <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
      <!-- Collapse button -->
      <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.title" [hidden]="!hasChild(null, node)">
        <mat-icon class="mat-icon-rtl-mirror">
          {{ treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right' }}
        </mat-icon>
      </button>
      <!-- Node Title and Action buttons -->
      <ng-container *ngTemplateOutlet="nodeTemp; context: { node: node }"></ng-container>
    </mat-tree-node>
  </mat-tree>
  <div class="align-items-end align-self-end d-flex save-tree">
    <button mat-stroked-button class="btn btn-primary text-white">Save</button>
  </div>
</ng-template>

<ng-template #nodeTemp let-node="node">
  <!-- Show/Hide Title/Edit Title-->
  <ng-container [ngSwitch]="node.editable">
    <ng-container *ngSwitchCase="true">
      <ng-container *ngTemplateOutlet="editNodeTemp; context: { node: node }"></ng-container>
    </ng-container>
    <ng-container *ngSwitchCase="false">
      <div>{{ node.title }}</div>
      <button mat-icon-button (click)="addNewNode(node)" [hidden]="!hasChild(null, node)"><mat-icon>add</mat-icon></button>
      <button mat-icon-button (click)="removeNode(node)" [disabled]="treeHasOneMainNode() && node.level === 0">
        <mat-icon>remove</mat-icon>
      </button>
    </ng-container>
  </ng-container>
  <!-- Switch between Title and Edit Title -->
  <button mat-icon-button (click)="node.editable = !node.editable">
    <mat-icon [color]="node.editable ? 'primary' : 'black'">edit</mat-icon>
  </button>
</ng-template>

<!-- Edit Title template -->
<ng-template #editNodeTemp let-node="node">
  <mat-checkbox #enableChildren class="mr-2" [checked]="false" [hidden]="hasChild(null, node)">Enable Children ?</mat-checkbox>
  <mat-form-field>
    <input matInput type="text" #newTitle placeholder="Title..." [(ngModel)]="newTitle.value" />
    <button mat-button [disabled]="newTitle.value === ''" matSuffix mat-icon-button aria-label="Clear" (click)="newTitle.value = ''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <button mat-stroked-button class="flex-last" (click)="saveNode(node, newTitle.value, enableChildren.checked)">Save</button>
</ng-template>
