<div class="container-fluid">
  <div class="row">
    <div class="col-6">
      <div class="card">
        <h4>Data Input</h4>
        <span [ngSwitch]="hasData()">
          <ng-container *ngSwitchCase="true">
            <ng-container *ngTemplateOutlet="editCategory"></ng-container>
          </ng-container>
          <ng-container *ngSwitchCase="false">
            <ng-container *ngTemplateOutlet="createCategory"></ng-container>
          </ng-container>
          <ng-container *ngSwitchDefault></ng-container>
        </span>
      </div>
    </div>
    <div class="col-6">
      <div class="card">
        <h4>Preview</h4>
        <ng-container *ngIf="!dataSource; else matTree">
          <small class="text-danger">Tree has no items</small>
          <!-- remove below row after debugging -->
          <ng-template #matTree> </ng-template>
        </ng-container>
        <ng-template #matTree> </ng-template>
      </div>
    </div>
  </div>
</div>

<ng-template #matTree>
  <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
    <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding>
      <button mat-icon-button disabled></button>
      <div>{{ node.title }}</div>
    </mat-tree-node>

    <mat-tree-node *matTreeNodeDef="let node; when: hasNoContent" matTreeNodePadding>
      <button mat-icon-button disabled></button>
      <mat-form-field>
        <input matInput type="text" #newNodeTitle placeholder="New item..." [(ngModel)]="newNodeTitle.value" />
        <button
          mat-button
          [disabled]="newNodeTitle.value === ''"
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="newNodeTitle.value = ''"
        >
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <button mat-button (click)="saveNode(node, newNodeTitle.value)">Save</button>
    </mat-tree-node>

    <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
      <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.title">
        <mat-icon class="mat-icon-rtl-mirror">
          {{ treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right' }}
        </mat-icon>
      </button>
      <div>{{ node.title }}</div>
      <button mat-icon-button (click)="addNewItem(node, true)"><mat-icon>add</mat-icon></button>
      <button mat-icon-button (click)="removeItem(node)"><mat-icon>remove</mat-icon></button>
    </mat-tree-node>
  </mat-tree>
</ng-template>

<ng-template #editCategory> </ng-template>

<ng-template #createCategory>
  <mat-form-field>
    <input #newCategoryName matInput placeholder="Category Name" />
  </mat-form-field>
  <button class="btn btn-primary">Add Category</button>
</ng-template>
